/* --- Colors --- */
$color4: #F2F2F2; /* light gray */
$color2: #EEEEEE; /* gray */
$color3: #333333; /* dark gray */
$color4: #FF6451; /* red */
$color5: #4692FF; /* blue */
$color6: #D0F748; /* green */


$topbar-bg: $color5;
